@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  font-family: Balsamiq Sans,  BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Balsamiq Sans", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
/* navbar */
.navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #0d4864;
}
.nav-brand {
  color: #feb249;
  text-decoration: none;
  font-size: 2rem;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.nav-items {
  display: flex;
}

.nav-items li {
  list-style: none;
  padding: 1.5rem;
}

.nav-items a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fbeceb;
}

.nav-items a::after {
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
}
.nav-items a:hover::after {
  width: 110%;
  height: 2px;
  background-color: #fbeceb;
}

.nav-items .active::after{
  content: "";
  position: relative;
  width: 110%;
  height: 2px;
  display: block;
  background-color: #fbeceb;
  
}
/* navbar end */

/* home content  */
.home-content {
  background-color: #002447;
  height: 100vh;
}
.name {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.name h1 {
  color: #feb249;
  font-size: 2.5rem;
}

.name p {
  padding-top: 3px;
  color: #fbeceb;
  font-size: 1.5rem;
}

.down-icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
}

.down-icon a {
  color: #feb249;
  padding: 0.8rem;
  text-decoration: none;
}

.down-icon a::after {
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
 
}
.down-icon a:hover::after {
  width: 110%;
  height: 2px;
  background-color: #feb249;
}

/* home content end */

/* about-me */

.about {
  padding-top: 6.5rem;
  padding-bottom: 3.4rem;
  background-color: #45a29e;
}

.about .about-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #002447;
  text-align: center;
}
.about-content img {
  height: 200px;
  margin-left: 115px;
  object-fit: cover;
}

.about-content p {
  color: #fbeceb;
  font-size: 1.3rem;
  padding: 0.7rem 2.3rem;
  text-align: center;
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
}

/* left-content */
.about-content .left-content {
  flex-basis: 43%;
}

.left-content a {
  color: #002447;
  text-decoration: none;
  display: inline-block;
}

.left-content a::after {
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
}
.left-content a:hover::after {
  width: 100%;
  height: 2px;
  background-color: #002447;
}
/* end left-content */

/* right-content */
.about-content.right-content {
  flex-basis: 45%;
}

.right-content .skill-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #002447;
  text-align: center;
}

/* progress-bar */
.progress {
  padding: 10px 30px;
}

.progress .progress-bar {
  margin: 25px 0;
}

.progress .progress-bar .progress-text span {
  font-size: 1rem;
  font-weight: 500;
}

.progress .progress-bar .progress-text {
  margin-bottom: 8px;
  color: #002447;
}

.progress .progress-bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: progressanimation 0.8s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-bar .progress-line span {
  position: absolute;
  background: #002447;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: progressanimation 0.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes progressanimation {
  100% {
    transform: scaleX(1);
  }
}
.progress-line .html {
  width: 90%;
}

.progress-line .css {
  width: 75%;
}

.progress-line .bootstrap {
  width: 75%;
}

.progress-line .js {
  width: 60%;
}

.progress-line .php {
  width: 50%;
}
.progress-line .react {
  width: 50%;
}

.-progress-bar .progress-line span::before {
  content: "";
  position: absolute;
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #002447;
}

.progress-bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #fbeceb;
  font-size: 12px;
  font-weight: 700;
  background: #002447;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "90%";
}

.progress-line .css::after {
  content: "75%";
}

.progress-line .bootstrap::after {
  content: "75%";
}

.progress-line .js::after {
  content: "60%";
}

.progress-line .php::after {
  content: "50%";
}
.progress-line .react::after {
  content: "50%";
}

/* end progress-bar */
/* end right-content */
/* end about-me */

/* portfolio */

.portfolio {
  background-color: #002447;
  padding-top: 4.5rem;
  padding-bottom: 5.4rem;
}

.portfolio::-webkit-scrollbar {
  display: none;
}

.portfolio-heading h1 {
  text-align: center;
  color: #fbeceb;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.project-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-1 img {
  height: 250px;
  width: 195px;
  object-fit: fill;
  border-radius: 10%;
  margin: 5px 30px;
}

.project-1 .project-1-details {
  width: 32rem;
}

.project-1 .project-1-details i {
  font-size: 1.5rem;
  color: #fbeceb;
}

.project-1 .project-1-details h2 {
  font-size: 2rem;
  color: #fbeceb;
}

.project-1 .project-1-details p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fbeceb;
}

.project-1 .project-1-details .btn {
  display: inline-block;
  background-color: #45a29e;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 150px;
  border: none;
  border-bottom: 2px solid #fbeceb;
  text-decoration: none;
  color: #002447;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.project-1 .project-1-details .btn:hover {
  background-color: #63d4cf;
}

.contact-msg {
  text-decoration: none;
  color: #feb249;
  font-size: 1.8rem;
  margin: auto;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-msg::after {
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
}
.contact-msg:hover::after {
  width: 105%;
  height: 2px;
  background-color: #feb249;
}
/* end portfolio */

/* contact */
.contact {
  position: relative;
  height: 100vh;
  background-color: #45a29e;
}

.contact-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-content h2 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #002447;
  padding-bottom: 0.5rem;
}

.contact-content .email {
  color: #fbeceb;
  padding-bottom: 2rem;
}
.contact-content .email a {
  text-decoration: none;
  color: #002447;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.contact-content .email a::after{
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
}

.contact-content .email a:hover::after {
  width: 100%;
  height: 2px;
  background-color: #002447;
}

.contact-content .links {
  color: #002447;
  padding: 0.5rem;
}

.link-icon a{
  text-decoration: none;
  color: #002447;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.link-icon a::after {
  content: "";
  position: relative;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.5s ease;
}
.link-icon a:hover::after {
  width: 100%;
  height: 2px;
  background-color: #002447;
}

/* end contact */

/* Footer */
.footer {
  background-color: #0d4864;
  width: 100%;
  height: 185px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer h2 {
  font-weight: 200;
}

.logolink a {
  padding: 0px 10px;
  color: white;
  font-size: 1.4rem;
}

/* mediaQuery */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .about {
    padding-top: 8rem;
  }
  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }
  .about-content img {
    margin-left: 5px;
  }
  .about-content .right-content {
    flex-basis: 100%;
    width: 100%;
  }

  .right-content .skill-heading {
    margin-top: 3.2rem;
  }
  .progress .progress-bar .progress-line {
    width: 100%;
  }

  .contact-content {
    width: 100%;
    font-size: 1.7rem;
  }
  .contact-content h2 {
    font-size: 4rem;
  }

  .contact-content .email {
    font-size: 2rem;
  }
  .contact-content .links {
    font-size: 1.5rem;
  }

  .portfolio-heading h1 {
    margin-top: 3.2rem;
  }
  .project-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .project-1 img {
    height: 200px;
    object-fit: contain;
  }
}

@media (min-width: 501px) and (max-width: 765px) {
  html {
    font-size: 65%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }
  .about-content img {
    margin-left: 0px;
  }
  .about-content .right-content {
    flex-basis: 100%;
    width: 100%;
  }

  .right-content .skill-heading {
    margin-top: 3.2rem;
  }
  .progress .progress-bar .progress-line {
    width: 100%;
  }

  .contact-content {
    width: 100%;
    font-size: 1.7rem;
  }
  .contact-content h2 {
    font-size: 4rem;
  }

  .contact-content .email {
    font-size: 2rem;
  }
  .contact-content .links {
    font-size: 1.5rem;
  }

  .portfolio-heading h1 {
    margin-top: 3.2rem;
  }
  .project-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .project-1 img {
    height: 200px;
    object-fit: contain;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 75%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }
  .about-content img {
    margin-left: 5px;
  }
  .about-content .right-content {
    flex-basis: 100%;
    width: 100%;
  }

  .right-content .skill-heading {
    margin-top: 3.2rem;
  }
  .progress .progress-bar .progress-line {
    width: 100%;
  }

  .contact-content {
    width: 100%;
    font-size: 1.7rem;
  }
  .contact-content h2 {
    font-size: 4rem;
  }

  .contact-content .email {
    font-size: 2rem;
  }
  .contact-content .links {
    font-size: 1.5rem;
  }

  .portfolio-heading h1 {
    margin-top: 3.2rem;
  }
  .project-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .project-1 img {
    height: 200px;
    object-fit: contain;
  }
}

